[FORMAT]
2.0

[DATA FILE]
data/hjsNonlinear2D.h
#data/hjsBurgers2D.h
#data/hjsNonconvex2D.h
#data/hjsExact2D.h


[MESH FILE]
BOX

[MESH DIMENSION]
2

[ELEMENT TYPE] # number of edges
3

[BOX NX]
20

[BOX NY]
20

[BOX DIMX]
#2
6.283185307179586
#4

[BOX DIMY]
#2
6.283185307179586
#4

[BOX BOUNDARY FLAG]
-1

[POLYNOMIAL DEGREE]
2

[THREAD MODEL]
#Serial
CUDA


[PLATFORM NUMBER]
0

[DEVICE NUMBER]
0

[TIME INTEGRATOR]
#DOPRI5
LSERK4

[CFL NUMBER]
0.05

[STABILIZATION]
SUBCELL
#NONE

[SUBCELL NUMBER]
6

[INDICATOR TYPE]
MDA

[SUBCELL MINOR GRID]
#EQUISPACED
WARPBLEND

[START TIME]
0

[FINAL TIME]
#1.0
#0.05
1.0

[OUTPUT INTERVAL]
#0.005
0.1

[OUTPUT TO FILE]
TRUE
#FALSE

[OUTPUT FILE NAME]
burgers2D
