*
!/**/
!*.*
!makefile
!*/*/makefile
!*/*/Makefile
!LICENSE

*.o
*.a
.DS_STORE
*.vtu
*.dat
*.txt
*.eps
*.png
*.pdf
*.log
*.bmp
*.swp
*.orig
*.out
*.msh

**/*.o
**/*.c~
*.m~
*.nvprof
test/__pycache__
test/*.rc

!test/squareTri.msh
!test/squareQuad.msh
!test/cubeTet.msh
!test/cubeHex.msh

.vimrc
.occa/
