[FORMAT]
2.0

[DATA FILE]
data/insUniform3D.h

[MESH FILE]
../../meshes/autoChannel3Dv3.msh

[MESH DIMENSION]
3

[ELEMENT TYPE] # number of edges
6

[POLYNOMIAL DEGREE]
2

[VELOCITY IMMERSED BOUNDARY]
TRUE

[VELOCITY IMMERSED BOUNDARY MESH FILE]
../../meshes/autoSurface3Dv2.msh

[THREAD MODEL]
CUDA

[PLATFORM NUMBER]
0

[DEVICE NUMBER]
0

[VISCOSITY]
1e-3

# can be CUBATURE or COLLOCATION
[ADVECTION TYPE]
#COLLOCATION
CUBATURE

[RELAXATION FILTER]
TRUE

#currently experimental
[PRESSURE INCREMENT]
FALSE

[TIME INTEGRATOR]
SSBDF3

[NUMBER OF SUBCYCLES]
1

[SUBCYCLING TIME INTEGRATOR]
DOPRI5

[START TIME]
0

[FINAL TIME]
20.0

[OUTPUT INTERVAL]
1

[OUTPUT TO FILE]
TRUE

[OUTPUT FILE NAME]
ins

#################################################
########## Velocity Solver Options ##############
#################################################

# can be PCG, FPCG, NBPCG, NBFPCG, or PGMRES
[VELOCITY LINEAR SOLVER]
PCG

[VELOCITY LINEAR SOLVER STOPPING CRITERION]
ABS/REL-INITRESID

# can be IPDG, or CONTINUOUS
[VELOCITY DISCRETIZATION]
CONTINUOUS

# can be NONE, JACOBI, MASSMATRIX, PARALMOND, SEMFEM, MULTIGRID, or OAS
[VELOCITY PRECONDITIONER]
#JACOBI
MULTIGRID

# can be LAST, ZERO, CLASSIC, QR, or EXTRAP
[VELOCITY INITIAL GUESS STRATEGY]
QR

[VELOCITY INITIAL GUESS HISTORY SPACE DIMENSION]
9

[VELOCITY INITIAL GUESS EXTRAP DEGREE]
3

[VELOCITY INITIAL GUESS EXTRAP COEFFS METHOD]
MINNORM

[VELOCITY VERBOSE]
TRUE

########## MULTIGRID Options ##############

# can be ALLDEGREES, HALFDEGREES, HALFDOFS
[VELOCITY MULTIGRID COARSENING]
HALFDOFS

# can be DAMPEDJACOBI or CHEBYSHEV
[VELOCITY MULTIGRID SMOOTHER]
CHEBYSHEV

# can be any integer >0
[VELOCITY MULTIGRID CHEBYSHEV DEGREE]
2

###########################################

########## ParAlmond Options ##############

# can be KCYCLE, or VCYCLE
# can add the EXACT and NONSYM option
[VELOCITY PARALMOND CYCLE]
VCYCLE

# can be DAMPEDJACOBI or CHEBYSHEV
[VELOCITY PARALMOND SMOOTHER]
CHEBYSHEV

# can be any integer >0
[VELOCITY PARALMOND CHEBYSHEV DEGREE]
2

###########################################

#################################################
########## Pressure Solver Options ##############
#################################################

# can be PCG, FPCG, NBPCG, NBFPCG, or PGMRES
[PRESSURE LINEAR SOLVER]
PCG

[PRESSURE LINEAR SOLVER STOPPING CRITERION]
ABS/REL-INITRESID

# can be IPDG, or CONTINUOUS
[PRESSURE DISCRETIZATION]
CONTINUOUS

# can be NONE, JACOBI, MASSMATRIX, PARALMOND, SEMFEM, or MULTIGRID
[PRESSURE PRECONDITIONER]
MULTIGRID

# can be LAST, ZERO, CLASSIC, QR, or EXTRAP
[PRESSURE INITIAL GUESS STRATEGY]
QR

[PRESSURE INITIAL GUESS HISTORY SPACE DIMENSION]
9

[PRESSURE INITIAL GUESS EXTRAP DEGREE]
3

[PRESSURE INITIAL GUESS EXTRAP COEFFS METHOD]
MINNORM

[PRESSURE VERBOSE]
TRUE

########## MULTIGRID Options ##############

# can be ALLDEGREES, HALFDEGREES, HALFDOFS
[PRESSURE MULTIGRID COARSENING]
HALFDOFS

# can be DAMPEDJACOBI or CHEBYSHEV
[PRESSURE MULTIGRID SMOOTHER]
CHEBYSHEV

# can be any integer >0
[PRESSURE MULTIGRID CHEBYSHEV DEGREE]
2

###########################################

########## ParAlmond Options ##############

# can be KCYCLE, or VCYCLE
# can add the EXACT and NONSYM option
[PRESSURE PARALMOND CYCLE]
VCYCLE

# can be DAMPEDJACOBI or CHEBYSHEV
[PRESSURE PARALMOND SMOOTHER]
CHEBYSHEV

# can be any integer >0
[PRESSURE PARALMOND CHEBYSHEV DEGREE]
2

###########################################



#################################################
########## Mass Solver Options ##############
#################################################

# can be PCG, FPCG, NBPCG, NBFPCG, or PGMRES
[MASS LINEAR SOLVER]
PCG

# can be IPDG, or CONTINUOUS
[MASS DISCRETIZATION]
CONTINUOUS

# can be NONE, JACOBI, MASSMATRIX, PARALMOND, SEMFEM, MULTIGRID, or OAS
[MASS PRECONDITIONER]
JACOBI

# can be LAST, ZERO, CLASSIC, QR, or EXTRAP
[MASS INITIAL GUESS STRATEGY]
QR

[MASS INITIAL GUESS HISTORY SPACE DIMENSION]
9

[MASS INITIAL GUESS EXTRAP DEGREE]
3

[MASS INITIAL GUESS EXTRAP COEFFS METHOD]
MINNORM

[MASS VERBOSE]
TRUE

[MASS LINEAR SOLVER STOPPING CRITERION]
ABS/REL-INITRESID

[VIZ OUTPUT]
FALSE
