[FORMAT]
2.0

[DATA FILE]
data/bnsGaussian3D.h

[MESH FILE]
PMLBOX

[MESH DIMENSION]
3

[ELEMENT TYPE] # number of edges
6

[BOX NX]
5

[BOX NY]
5

[BOX NZ]
5

[BOX BOUNDARY FLAG]
1

[POLYNOMIAL DEGREE]
4

[THREAD MODEL]
CUDA

[PLATFORM NUMBER]
0

[DEVICE NUMBER]
0

[VISCOSITY]
0.001

[SPEED OF SOUND]
1.0

[PML PROFILE ORDER]
4

[PML SIGMAX MAX]
50

[PML SIGMAY MAX]
50

[PML SIGMAZ MAX]
50

[PML INTEGRATION]
COLLOCATION

[TIME INTEGRATOR]
SARK4

[START TIME]
0

[FINAL TIME]
10

[OUTPUT INTERVAL]
1

[OUTPUT TO FILE]
TRUE

[OUTPUT FILE NAME]
bns
