[FORMAT]
1.0

[FORMAT]
1.0

[DATA FILE]
data/bnsUniform2D.h

[MESH FILE]
../../meshes/boltzmannSquareCylinderPMLQuad2D.msh
#../../meshes/boltzmannSquareCylinderPMLStructuredQuad2D.msh

[MESH DIMENSION]
2

[ELEMENT TYPE] # number of edges
4

[POLYNOMIAL DEGREE]
3

[RBAR] # mean density
1.0

[UBAR] # mean x-velocity
1.0

[VBAR] # mean y-velocity
0.0

[BODYFORCE-X] # constant global force on particles in x-direction
0.0

[BODYFORCE-Y] # constant global force on particles in y-direction
0.0

[ABSORBING LAYER]
PML

[PML PROFILE ORDER]
4

[PML SIGMAX MAX]
100

[PML SIGMAY MAX]
100

# compute sigma terms default: CUBATURE use COLLOCATION otherwise
[PML INTEGRATION]
COLLOCATION 

[THREAD MODEL]
CUDA

[PLATFORM NUMBER]
0

[DEVICE NUMBER]
0

[TIME INTEGRATOR]
#LSERK4
MRSAAB
#SARK 

[VISCOSITY]
0.005

[SPEED OF SOUND]
5.0

[PROBE FLAG]
0

[REPORT FLAG]
1

[ERROR FLAG]
1

[TSTEPS FOR ERROR COMPUTE]
1000

[TSTEPS FOR SOLUTION OUTPUT]
1000

[START TIME]
0

[FINAL TIME]
10

[OUTPUT INTERVAL]
.5

[ABSOLUTE TOLERANCE]
1E-5

[RELATIVE TOLERANCE]
1E-4

[MINUMUM TIME STEP SIZE]
1E-10

[MAX MRAB LEVELS]
100

[CFL]
0.1

# Currently SARK and LSERK only
[RESTART FROM FILE]
0

[WRITE RESTART FILE]
0

[RESTART FILE NAME]
bnsRestart

[OUTPUT FILE FORMAT]
VTU

[OUTPUT FILE NAME]
squareCylinderQuad
