[FORMAT]
2.0

[DATA FILE]
data/lbsUniform2D.h
#data/lbsGaussian2D.h

[MESH FILE]
../../meshes/lbsLidDrivenTri2D.msh
#BOX
#PMLBOX

[MESH DIMENSION]
2

[ELEMENT TYPE] # number of edges
3

[BOX NX]
20

[BOX NY]
20


[BOX BOUNDARY FLAG]
-1

[POLYNOMIAL DEGREE]
4

[THREAD MODEL]
#Serial
CUDA

[PLATFORM NUMBER]
0

[DEVICE NUMBER]
0

[VISCOSITY]
0.0002

[VELOCITY MODEL]
D2Q9

[PML PROFILE ORDER]
4

[PML SIGMAX MAX]
50

[PML SIGMAY MAX]
50

[PML INTEGRATION]
COLLOCATION

[TIME INTEGRATOR]
LSERK4

[CFL NUMBER]
0.25

[START TIME]
0

[FINAL TIME]
600.0

[OUTPUT INTERVAL]
1

[OUTPUT TO FILE]
TRUE

[OUTPUT FILE NAME]
lbs
