[FORMAT]
2.0

[DATA FILE]
data/lbsCouette2D.h
#data/lbsUniform2D.h
#data/lbsGaussian2D.h
#data/lbsPoiseuille2D.h

[MESH FILE]
../../meshes/lbsChannel2D_0.msh
#../../meshes/lbsSquareCylinder2D.msh
#../../meshes/lbsLidDrivenTri2D.msh
# BOX
# PMLBOX

[MESH DIMENSION]
2

[ELEMENT TYPE] # number of edges
3

[BOX NX]
11

[BOX NY]
11

[BOX DIMX]
1

[BOX DIMY]
1

[BOX BOUNDARY FLAG]
-1


[POLYNOMIAL DEGREE]
5

[THREAD MODEL]
#Serial
CUDA

[PLATFORM NUMBER]
0

[DEVICE NUMBER]
0

[VISCOSITY]
0.1

[VELOCITY MODEL]
D2Q9

# [PML PROFILE ORDER]
# 4
# 
# [PML SIGMAX MAX]
# 50
# 
# [PML SIGMAY MAX]
# 50
# 
# [PML INTEGRATION]
# COLLOCATION

[TIME INTEGRATOR]
LSERK4

[CFL NUMBER]
0.5

[START TIME]
0

[FINAL TIME]
20.0

[OUTPUT INTERVAL]
1

[OUTPUT TO FILE]
TRUE

[OUTPUT FILE NAME]
lbs_couette
#lbs_cylinder
#lbs_gauss
