[FORMAT]
1.0

[FORMAT]
1.0

[DATA FILE]
data/bnsUniform3D.h

[INITIAL CONDITION]
BROWN-MINION

[MESH FILE]
#../../meshes/sphereMR.msh
../../meshes/sphereQuadH005.msh

[MESH DIMENSION]
3

[ELEMENT TYPE] # number of edges
4

[POLYNOMIAL DEGREE]
10

[SPHERE RADIUS]
1.0

[RBAR] # mean density
1.0

[UBAR] # mean x-velocity
0.0

[VBAR] # mean y-velocity
0.0

[WBAR] # mean z-velocity
0.0

[BODYFORCE-X] # constant global force on particles in x-direction
0.0

[BODYFORCE-Y] # constant global force on particles in y-direction
0.0

[BODYFORCE-Z] # constant global force on particles in z-direction
0.0

[ABSORBING LAYER]
NONE

[THREAD MODEL]
CUDA

[PLATFORM NUMBER]
0

[DEVICE NUMBER]
0

[TIME INTEGRATOR]
#LSERK4
#MRSAAB
SARK 

[VISCOSITY]
0.0002

[SPEED OF SOUND]
5.0

[PROBE FLAG]
0

[REPORT FLAG]
1

[ERROR FLAG]
0

[TSTEPS FOR ERROR COMPUTE]
1000

[TSTEPS FOR SOLUTION OUTPUT]
12500

[START TIME]
0

[FINAL TIME]
30

[OUTPUT INTERVAL]
.05

[ABSOLUTE TOLERANCE]
1E-5

[RELATIVE TOLERANCE]
1E-4

[MINUMUM TIME STEP SIZE]
1E-10

[MAX MRAB LEVELS]
2

[CFL]
0.3

# Currently SARK and LSERK only
[RESTART FROM FILE]
0

[WRITE RESTART FILE]
0

[RESTART FILE NAME]
bnsRestart

[OUTPUT FILE FORMAT]
VTU
#PPM

[OUTPUT FILE NAME]
/scratch/bnsQuad3D/bnsQuad3D
#squareCylinderQuad

[VERBOSE]
TRUE

[ABSORBING LAYER]
NONE

[PML INTEGRATION]
COLLOCATION

[OUTPUT FILE FORMAT]
VTU
