[FORMAT]
2.0

[DATA FILE]
data/lbsGaussian3D.h

[MESH FILE]
BOX

[MESH DIMENSION]
3

[ELEMENT TYPE] # number of edges
6

[BOX NX]
10

[BOX NY]
10

[BOX NZ]
10

[BOX BOUNDARY FLAG]
1

[POLYNOMIAL DEGREE]
2

[THREAD MODEL]
CUDA

[PLATFORM NUMBER]
0

[DEVICE NUMBER]
0

[VISCOSITY]
0.01

[VELOCITY MODEL]
D3Q15

[TIME INTEGRATOR]
LSERK4

[CFL NUMBER]
0.5

[START TIME]
0

[FINAL TIME]
0.1

[OUTPUT INTERVAL]
1

[OUTPUT TO FILE]
TRUE

[OUTPUT FILE NAME]
lbs_gauss_3D
