[FORMAT]
2.0

[DATA FILE]
data/lbsGaussian2D.h

[MESH FILE]
BOX

[MESH DIMENSION]
2

[ELEMENT TYPE] # number of edges
3

[BOX NX]
10

[BOX NY]
10

[BOX BOUNDARY FLAG]
1

[POLYNOMIAL DEGREE]
4

[THREAD MODEL]
CUDA

[PLATFORM NUMBER]
0

[DEVICE NUMBER]
0

[VISCOSITY]
0.01

[VELOCITY MODEL]
D2Q9

[TIME INTEGRATOR]
LSERK4

[CFL NUMBER]
0.5

[START TIME]
0

[FINAL TIME]
10.0

[OUTPUT INTERVAL]
1

[OUTPUT TO FILE]
TRUE

[OUTPUT FILE NAME]
lbs_gauss
