[FORMAT]
2.0

[DATA FILE]
./data/acousticsSpaceTimeModes3D.h

[MESH FILE]
BOX

[MESH DIMENSION]
3

[ELEMENT TYPE]
12

[BOX NX]
24

[BOX NY]
24

[BOX NZ]
24
  
[BOX DIMX]
2.0

[BOX DIMY]
2.0

[BOX DIMZ]
2.0

[BOX BOUNDARY FLAG]
1

[BOX KERSHAW MAP]
1

[BOX KERSHAW PARAMETER]
0.3

[POLYNOMIAL DEGREE]
7

[THREAD MODEL]
CUDA

[PLATFORM NUMBER]
0

[DEVICE NUMBER]
0

[TIME INTEGRATOR]
LSERK4

[CFL NUMBER]
1

[START TIME]
0.0

[FINAL TIME]
4.1


[OUTPUT TO FILE]
FALSE

[OUTPUT ERROR INTERVAL]
10

