[FORMAT]
2.0

[DATA FILE]
#data/acousticsSine2D.h
data/acousticsGaussian2D.h

[MESH FILE]
#../../meshes/slot1.msh
#../../meshes/RefinedVertexSquare2D.msh
../../meshes/slot2.msh
#BOX

[MESH DIMENSION]
2

[ELEMENT TYPE] # number of edges
3

[BOX DIMX]
2

[BOX DIMY]
2
  
[BOX NX]
20

[BOX NY]
20

[BOX NZ]
10

[BOX BOUNDARY FLAG]
2

[POLYNOMIAL DEGREE]
6

[THREAD MODEL]
CUDA

[PLATFORM NUMBER]
0

[DEVICE NUMBER]
0

[TIME INTEGRATOR]
LSERK4

[START TIME]
0

[FINAL TIME]
2.1

[OUTPUT INTERVAL]
.1

[OUTPUT TO FILE]
FALSE

[OUTPUT FILE NAME]
acoustics
