[FORMAT]
2.0

[MESH FILE]
../../meshes/cavityH01.msh

[MESH DIMENSION]
2

[ELEMENT TYPE] # number of edges
3

[POLYNOMIAL DEGREE]
4

[THREAD MODEL]
CUDA

[PLATFORM NUMBER]
0

[DEVICE NUMBER]
0

[TIME INTEGRATOR]
DOPRI5
#LSERK4

[COMPUTE ERROR FLAG]
1

[TSTEPS FOR ERROR COMPUTE]
1000

[TSTEPS FOR SOLUTION OUTPUT]
1000

[REPORT FREQUENCY]
100

[START TIME]
0

[FINAL TIME]
10

[OUTPUT INTERVAL]
.1

[MAX MRAB LEVELS]
1

