[FORMAT]
1.0

[MESH FILE]
../../meshes/cubeTetH0125.msh

[MESH DIMENSION]
3

[ELEMENT TYPE] # number of edges
6

[POLYNOMIAL DEGREE]
6

[THREAD MODEL]
CUDA

[PLATFORM NUMBER]
0

[DEVICE NUMBER]
0

[TIME INTEGRATOR]
#DOPRI5
LSERK4

[ADVECTION TYPE]
NODAL

[VISCOSITY]
5.e-3

[MACH NUMBER]
.2

[RBAR]
1.0

[UBAR]
1.0

[VBAR]
0.0

[WBAR]
0.0

[COMPUTE ERROR FLAG]
1

[TSTEPS FOR ERROR COMPUTE]
1000

[TSTEPS FOR SOLUTION OUTPUT]
1000

[REPORT FREQUENCY]
1000

[START TIME]
0

[FINAL TIME]
.01

[OUTPUT INTERVAL]
.14

[MAX MRAB LEVELS]
1

[CFL]
0.1

[RESTART FROM FILE]
0

[OUTPUT FILE NAME]
vtkOut/tshape
