[FORMAT]
2.0

[DATA FILE]
data/acousticsGaussian2D.h

[MESH FILE]
BOX

[MESH DIMENSION]
2

[ELEMENT TYPE] # number of edges
4

[BOX NX]
10

[BOX NY]
10

[BOX NZ]
10

[BOX BOUNDARY FLAG]
1

[POLYNOMIAL DEGREE]
4

[THREAD MODEL]
CUDA

[PLATFORM NUMBER]
0

[DEVICE NUMBER]
0

[TIME INTEGRATOR]
DOPRI5

[START TIME]
0

[FINAL TIME]
10

[OUTPUT INTERVAL]
1

[OUTPUT TO FILE]
TRUE

[OUTPUT FILE NAME]
acoustics
