[FORMAT]
2.0

[DATA FILE]
data/acousticsGaussian2D.h

[MESH FILE]
../../meshes/RefinedVertexSquare2D.msh
#BOX

[MESH DIMENSION]
2

[ELEMENT TYPE] # number of edges
3

[BOX NX]
40

[BOX NY]
40

[BOX NZ]
10

[BOX BOUNDARY FLAG]
1

[POLYNOMIAL DEGREE]
4

[THREAD MODEL]
CUDA

[PLATFORM NUMBER]
0

[DEVICE NUMBER]
0

[TIME INTEGRATOR]
DOPRI5
#LSERK4
#MRAB3

[CFL NUMBER]
0.1
  
[START TIME]
0

[FINAL TIME]
2

[OUTPUT INTERVAL]
2

[OUTPUT TO FILE]
TRUE

[OUTPUT FILE NAME]
acoustics
