[FORMAT]
2.0

[DATA FILE]
#data/cnsGaussian2D.h
data/cnsUniform2D.h
#*******************[MESH PROPERTIES]*******************#
[MESH FILE]
#BOX
../../meshes/cnsNACA2D.msh

[MESH DIMENSION]
2

[ELEMENT TYPE] # number of edges
3

[BOX NX]
20

[BOX NY]
20

[BOX NZ]
20

[BOX BOUNDARY FLAG]
11

[POLYNOMIAL DEGREE]
5

#*******************[DEVICE PROPERTIES]*******************#
[THREAD MODEL]
CUDA

[PLATFORM NUMBER]
0

[DEVICE NUMBER]
0

#*******************[SOLVER PROPERTIES]*******************#
[SOLVER TYPE]
#EULER
NAVIER-STOKES

# If TRUE compute R and mu from Mach & Reynolds//
[NONDIMENSIONAL EQUATIONS]
TRUE

# Isentropic exponent 
[GAMMA]
1.4

# // Mach number is needed for NONDIM=TRUE
[MACH NUMBER]
#0.1
3.0
#0.8

# Reynolds number is needed for NONDIM = TRUE
[REYNOLDS NUMBER]
1e5

# R is needed if NONDIM=FALSE otherwise  R = 1.0/(gamma*Ma^2) 
[SPECIFIC GAS CONSTANT]
287.052

# mu is needed if NONDIM = FALSE, otherwise mu = 1/Re
[VISCOSITY]
0.00001

[VISCOSITY TYPE]
CONSTANT
#SUTHERLAND
#POWER-LAW


[PRANDTL NUMBER]
0.72

# [density, velocity, pressure, temperature, viscosity, length]
# [rref, vref, pref. tref, mref, lref]
[REFERENCE STATE]
1.0, 1.0, 1.0, 1.0, 1.0, 1.0

[ISOTHERMAL]
FALSE

#Can be COLLOCATION or CUBATURE
[ADVECTION TYPE]
COLLOCATION
#CUBATURE

[TIME INTEGRATOR]
DOPRI5
#LSERK4

[CFL NUMBER]
0.5

[START TIME]
0

[FINAL TIME]
10

#*******************[OUTPUT PROPERTIES]*******************#
[OUTPUT INTERVAL]
0.2

[OUTPUT TO FILE]
TRUE

[OUTPUT FILE NAME]
cns

#*****************[STABILIZASYON PROPERTIES]*****************#
# HJS:1  CNS:2  INS:3 
[STABILIZATION SOLVER TYPE]
2

# NODETECT: 0  ALL= 1 Klockner: 2 Persson: 3 DUCROS: 4
[DETECTOR TYPE]
2

# NoStab:0 Filter: 1, Limiter: 2, Artdiff: 3, Subcell: 4
[STAB TYPE]
3

[SUBCELL NUMBER]
4

[SUBCELL MINOR GRID]
WARPBLEND

[STAB OUTPUT TO FILE]
TRUE

[ARTDIFF TYPE]
LAPLACE
#PHYSICAL

[ARTDIFF SCALE FACTOR]
1

