[FORMAT]
2.0

[DATA FILE]
#data/cnsGaussian3D.h
data/cnsUniform3D.h
#*******************[MESH PROPERTIES]*******************#
[MESH FILE]
#BOX
../../meshes/cnsNACA3Dv2.msh
#../../meshes/cnsBody3D.msh
#../../meshes/cnsFFS3D.msh

[MESH DIMENSION]
3

[ELEMENT TYPE] # number of edges
6

[BOX NX]
10
[BOX NY]
10
[BOX NZ]
10

[BOX DIMX]
10

[BOX DIMY]
10

[BOX DIMZ]
10

[BOX BOUNDARY FLAG]
11


#*******************[DISCRETIZATION PROPERTIES]************#
[POLYNOMIAL DEGREE]
4

[SOLVER TYPE]
#EULER
NAVIER-STOKES

# If TRUE compute R and mu from Mach & Reynolds//
[NONDIMENSIONAL EQUATIONS]
#FALSE
TRUE

[ISOTHERMAL]
FALSE

#Can be COLLOCATION or CUBATURE
[ADVECTION TYPE]
#COLLOCATION
CUBATURE

# 0 <= beta <= 1 
[LDG BETA COEFFICIENT]
0.0

# 0 <= tau <= 1.0
[LDG TAU COEFFICIENT]
0.0

[TIME INTEGRATOR]
DOPRI5
#LSERK4

#*******************[DEVICE PROPERTIES]*******************#
[THREAD MODEL]
CUDA

[PLATFORM NUMBER]
0

[DEVICE NUMBER]
0

#*******************[PROBLEM PROPERTIES]*******************#

# Isentropic exponent 
[GAMMA]
1.4

# // Mach number is needed for NONDIM=TRUE
[MACH NUMBER]
2.0
#0.816496580927726

# Reynolds number is needed for NONDIM = TRUE
[REYNOLDS NUMBER]
1e6

# R is needed if NONDIM=FALSE otherwise  R = 1.0/(gamma*Ma^2) 
[SPECIFIC GAS CONSTANT]
287.052

# mu is needed if NONDIM = FALSE, otherwise mu = 1/Re
[VISCOSITY]
1.0e-5

# [ CONSTANT ] - [SUTHERLAND] - [POWER-LAW]
[VISCOSITY TYPE]
CONSTANT


[PRANDTL NUMBER]
0.72

# [density, velocity, pressure, temperature, viscosity, length]
# [rref, vref, pref. tref, mref, lref]
[REFERENCE STATE]
1.0, 1.0, 1.0, 1.0, 1.0, 1.0

[CFL NUMBER]
0.1

[START TIME]
0

[FINAL TIME]
1.0

#*******************[OUTPUT PROPERTIES]*******************#
[OUTPUT INTERVAL]
0.01

[OUTPUT TO FILE]
TRUE

[OUTPUT FILE NAME]
cns

[REPORT FORCES]
FALSE

[MOMENT CENTER]
0.0, 0.0, 0.0


#*****************[STABILIZASYON PROPERTIES]*****************#
# HJS:1  CNS:2  INS:3 
[STABILIZATION SOLVER TYPE]
2

# NODETECT: 0  ALL= 1 Klockner: 2 Persson: 3 DUCROS: 4
[DETECTOR TYPE]
2

# NoStab:0 Filter: 1, Limiter: 2, Artdiff: 3, Subcell: 4
[STAB TYPE]
3

[SUBCELL NUMBER]
4

[SUBCELL MINOR GRID]
WARPBLEND

[STAB OUTPUT TO FILE]
TRUE

# [LAPLACE], [PHYSICAL X do not use this option for now!!!!] 
[ARTDIFF TYPE]
LAPLACE

[ARTDIFF SCALE FACTOR]
6

