[FORMAT]
1.0

[DATA FILE]
data/cnsUniform2D.h

[MESH FILE]
../../meshes/sphereQuadH01.msh

[MESH DIMENSION]
3

[ELEMENT TYPE] # number of edges
4

[POLYNOMIAL DEGREE]
8

[SPHERE RADIUS]
1.0

[INITIAL CONDITION]
BROWN-MINION

[THREAD MODEL]
CUDA

[PLATFORM NUMBER]
0

#this is ignored when running with MPI
[DEVICE NUMBER]
1

#Can be DOPRI5 or LSERK4
[TIME INTEGRATOR]
#LSERK4
DOPRI5

[ABSOLUTE TOLERANCE]
1E-7

[RELATIVE TOLERANCE]
1E-6

[MINUMUM TIME STEP SIZE]
1E-10

[MAXIMUM TIME STEP SIZE]
1e-4

#Can be COLLOCATION or CUBATURE
[ADVECTION TYPE]
CUBATURE
#COLLOCATION

[VISCOSITY]
#0
0.0002

[SPEED OF SOUND]
5.0

[RBAR]
1.0

[UBAR]
0.0

[VBAR]
0.0

[WBAR]
0.0

[START TIME]
0

[FINAL TIME]
60

#set to 0.0 to ignore
[TIME OUTPUT INTERVAL]
0.1

#set to 0 to ignore
[TSTEP OUTPUT INTERVAL]
0

[CFL]
0.1

[RESTART FROM FILE]
0

[OUTPUT FILE NAME]
sphereCompareQuad3D

[OUTPUT FILE FORMAT]
PPM

[VERBOSE]
TRUE
