[FORMAT]
2.0

[DATA FILE]
data/cnsGaussian3D.h

[MESH FILE]
BOX

[MESH DIMENSION]
3

[ELEMENT TYPE] # number of edges
12

[BOX NX]
10

[BOX NY]
10

[BOX NZ]
10

[BOX BOUNDARY FLAG]
-1

[POLYNOMIAL DEGREE]
4

[THREAD MODEL]
CUDA

[PLATFORM NUMBER]
0

[DEVICE NUMBER]
0

[GAMMA]
1.4

[VISCOSITY]
0.01

[ISOTHERMAL]
FALSE

#Can be COLLOCATION or CUBATURE
[ADVECTION TYPE]
COLLOCATION

[TIME INTEGRATOR]
DOPRI5

[START TIME]
0

[FINAL TIME]
10

[OUTPUT INTERVAL]
1

[OUTPUT TO FILE]
TRUE

[OUTPUT FILE NAME]
cns
