[FORMAT]
2.0

[DATA FILE]
data/cnsVortexDipole2D.h

[MESH FILE]
BOX
#data/dipolebox.msh

[BOX NX]
50

[BOX NY]
50

[BOX DIMX]
2

[BOX DIMY]
2

[BOX BOUNDARY FLAG]
1

[MESH DIMENSION]
2

[ELEMENT TYPE] # number of edges
4

[POLYNOMIAL DEGREE]
7

[THREAD MODEL]
CUDA

[PLATFORM NUMBER]
0

[DEVICE NUMBER]
0

[GAMMA]
1.4

[VISCOSITY]
1e-3

[ISOTHERMAL]
TRUE
#FALSE

#Can be COLLOCATION or CUBATURE
[ADVECTION TYPE]
CUBATURE
#COLLOCATION

[TIME INTEGRATOR]
DOPRI5
#LSERK4

[START TIME]
0

[FINAL TIME]
20

[OUTPUT INTERVAL]
.1

[OUTPUT TO FILE]
TRUE

[OUTPUT FILE NAME]
cns
