[FORMAT]
1.0

[MESH FILE]
../../meshes/cubeHexE08000.msh
#../../meshes/cubeHexE04096.msh
#../../meshes/cubeHexH00625.msh
#../../meshes/cubeHexH0125.msh

[MESH DIMENSION]
3

[ELEMENT TYPE] # number of edges
12

[POLYNOMIAL DEGREE]
8

[THREAD MODEL]
CUDA

[PLATFORM NUMBER]
0

[DEVICE NUMBER]
1

[TIME INTEGRATOR]
#DOPRI5
LSERK4

# options integration: CUBATURE or NODAL
# options form: WEAK or SKEW
# options mass inversion type: SEMDG or WADG OR MASS
[ADVECTION FORMULATION]
#CUBATURE+WEAK+WADG
#CUBATURE+WEAK+SEMDG
#CUBATURE+SKEW+WADG
#CUBATURE+SKEW+SEMDG
#NODAL+WEAK+SEMDG
#NODAL+SKEW+SEMDG
COMBINED+NODAL+WEAK+MASS
#COMBINED+NODAL+WEAK+SEMDG

[START TIME]
0

[TIME STEPS]
100

[FINAL TIME]
1

[OUTPUT INTERVAL]
10000

[ERROR STEP]
1000

[VERBOSE]
TRUE

[MASS MATRIX TOLERANCE]
1e-10

[MASS MATRIX MAXIMUM ITERATIONS]
3
