[FORMAT]
1.0

[MESH FILE]
../../meshes/cubeHexH0125.msh

[MESH DIMENSION]
3

[ELEMENT TYPE] # number of edges
12

[POLYNOMIAL DEGREE]
7

[THREAD MODEL]
CUDA

[PLATFORM NUMBER]
0

[DEVICE NUMBER]
0

[TIME INTEGRATOR]
#DOPRI5
LSERK4

[ADVECTION TYPE]
NODAL

[START TIME]
0

[FINAL TIME]
1

[OUTPUT INTERVAL]
.05

[ERROR STEP]
200