[FORMAT]
1.0

[MESH FILE]
../../meshes/cubeHexH0125.msh,../../meshes/cubeHexH025.msh

[MESH DIMENSION]
3

[ELEMENT TYPE] # number of edges
12

[POLYNOMIAL DEGREE]
9,1,2,3,4,5,6,7,8

[THREAD MODEL]
CUDA

[PLATFORM NUMBER]
0

[DEVICE NUMBER]
0

[TIME INTEGRATOR]
#DOPRI5
LSERK4

[ADVECTION TYPE]
CUBATURE
#NODAL

[ADVECTION FORMULATION]
SKEW
#WEAK
#WEAK+COMBINED
#SKEW+COMBINED


[START TIME]
0

[TIME STEPS]
20

[OUTPUT INTERVAL]
100000

[ERROR STEP]
100000

[VERBOSE]
TRUE
