[FORMAT]
1.0

[ADVECTION FORMULATION]
COMBINED+NODAL+WEAK+SEMDG

[MESH FILE]
../../meshes/cubeHexE01000.msh,../../meshes/cubeHexE01728.msh,../../meshes/cubeHexE04096.msh,../../meshes/cubeHexE05832.msh,../../meshes/cubeHexE08000.msh,../../meshes/cubeHexE128.msh,../../meshes/cubeHexE64.msh

[MESH DIMENSION]
3

[ELEMENT TYPE] # number of edges
12

[POLYNOMIAL DEGREE]
1,2,3,4,5,6,7,8,9

[THREAD MODEL]
CUDA

[PLATFORM NUMBER]
0

[DEVICE NUMBER]
0

[TIME INTEGRATOR]
#DOPRI5
LSERK4

[START TIME]
0

[TIME STEPS]
5

[OUTPUT INTERVAL]
100000

[ERROR STEP]
100000

[VERBOSE]
TRUE
