[FORMAT]
1.0

[ADVECTION FORMULATION]
#CUBATURE+SKEW+WADG,CUBATURE+SKEW+SEMDG,CUBATURE+WEAK+WADG,CUBATURE+WEAK+SEMDG,NODAL+WEAK+SEMDG,
#COMBINED+NODAL+WEAK+SEMDG,
COMBINED+NODAL+WEAK+MASS

[MESH FILE]
../../meshes/cubeHexE08000.msh
#../../meshes/cubeHexE01000.msh, ../../meshes/cubeHexE01728.msh, ../../meshes/cubeHexE04096.msh, ../../meshes/cubeHexE05832.msh,  ../../meshes/cubeHexE08000.msh
#../../meshes/cubeHexH0125.msh
#,../../meshes/cubeHexH025.msh

[MESH DIMENSION]
3

[ELEMENT TYPE] # number of edges
12

[POLYNOMIAL DEGREE]
#10,11,12,13,14
1,2,3,4,5,6,7,8

[THREAD MODEL]
CUDA

[PLATFORM NUMBER]
0

[DEVICE NUMBER]
1

[TIME INTEGRATOR]
#DOPRI5
LSERK4

[START TIME]
0

[TIME STEPS]
5

[OUTPUT INTERVAL]
100000

[ERROR STEP]
100000

[VERBOSE]
TRUE

[MASS MATRIX TOLERANCE]
1.e-8

[MASS MATRIX MAXIMUM ITERATIONS]
#1
1,2,3,4,5,6,7

