[FORMAT]
2.0

[DATA FILE]
data/esdgDipoleVortex2D.h
#data/esdgIsentropicVortex2D.h


[MESH FILE]
BOX

[MESH DIMENSION]
2

[ELEMENT TYPE] # number of edges
3

[BOX NX]
40

[BOX NY]
40

[BOX NZ]
40

[BOX DIMX]
10

[BOX DIMY]
10

[BOX BOUNDARY FLAG]
-1

[POLYNOMIAL DEGREE]
7

[FILTER TOP MODES]
0


[THREAD MODEL]
CUDA

[PLATFORM NUMBER]
0

[DEVICE NUMBER]
0

[GAMMA]
1.4


#Can be COLLOCATION or CUBATURE
[ADVECTION TYPE]
CUBATURE

[TIME INTEGRATOR]
#LSERK4
DOPRI5

[START TIME]
0

[FINAL TIME]
2000

[OUTPUT INTERVAL]
2.5

[OUTPUT TO FILE]
TRUE

[OUTPUT FILE NAME]
euler
