[# BROWN MINION
[FORMAT]
2.0

[DATA FILE]
data/esdgSquareCylinder2D.h

[MESH FILE]
../../meshes/esdgSquareCylinder2D.msh

[MESH DIMENSION]
2

[ELEMENT TYPE] # number of edges
3

# 1 + 2 + 4 + 16
[GUARD LEVEL]
23

[POLYNOMIAL DEGREE]
4


#[USE ARTIFICIAL VISCOSITY]
#TRUE

[ADVECTION TYPE]
CUBATURE
#COLLOCATION
#ESDG
#SBP
#CUBDG


[THREAD MODEL]
CUDA

[PLATFORM NUMBER]
0

[DEVICE NUMBER]
0

[GAMMA]
1.4

[MEAN FLOW DENSITY]
1

[MEAN FLOW XVELOCITY]
1

[MEAN FLOW YVELOCITY]
0

[MEAN FLOW PRESSURE]
#4
#3.15
0.31

[LAME LAMBDA]
1e-4

[LAME MU]
-0.666666e-4

[TIME INTEGRATOR]
#LSERK4
DOPRI5

[START TIME]
0

[FINAL TIME]
100

[DIFFUSION PENALTY TAU]
1


[OUTPUT INTERVAL]
1

[OUTPUT TO FILE]
TRUE

[OUTPUT FILE NAME]
./esdg


