[FORMAT]
1.0

[DATA FILE]
data/cdsGaussHill2D.h

[MESH FILE]
../../meshes/cdsGaussHillTri2D.msh

[MESH DIMENSION]
2

[ELEMENT TYPE] 
3

[POLYNOMIAL DEGREE]
4

[ELEMENT MAP]
ISOPARAMETRIC

[THREAD MODEL]
CUDA

[PLATFORM NUMBER]
0

[DEVICE NUMBER]
0

[TIME INTEGRATOR]
EXTBDF2

[SUBCYCLING STEPS]
4

[SUBCYCLING TIME ORDER]
3

# can be CUBATURE or COLLOCATION
[ADVECTION TYPE]
#COLLOCATION
CUBATURE

[VISCOSITY]
1

[DENSITY]
1

[CONDUCTIVITY]
0.001

[SPECIFIC HEAT]
1

[UBAR]
0.0

[VBAR]
0.0

[WBAR]
0.0

[SBAR]
0.0

[TSTEPS FOR SOLUTION OUTPUT]
200

[START TIME]
0

[FINAL TIME]
6.283185307179586

[CFL]
0.1

[OUTPUT TYPE]
VTU

[RESTART FROM FILE]
0

[OUTPUT FILE NAME]
gaussHillTri2D

#################################################
########## Solver Options ##############
#################################################

# can add FLEXIBLE to PCG
[KRYLOV SOLVER]
PCG

# can be IPDG, or CONTINUOUS
[DISCRETIZATION]
#CONTINUOUS
IPDG

# can be NODAL or BERN
[BASIS]
NODAL

# can be NONE, JACOBI, MASSMATRIX, FULLALMOND, SEMFEM, or MULTIGRID
[PRECONDITIONER]
MASSMATRIX

########## MULTIGRID Options ##############

# can be ALLDEGREES, HALFDEGREES, HALFDOFS
[MULTIGRID COARSENING]
HALFDOFS

# can be LOCALPATCH, or DAMPEDJACOBI
# LOCALPATCH smoother can include EXACT
# can include CHEBYSHEV for smoother acceleration
[MULTIGRID SMOOTHER]
DAMPEDJACOBI,CHEBYSHEV

###########################################

########## ParAlmond Options ##############

# can be KCYCLE, or VCYCLE
# can add the EXACT and NONSYM option
[VELOCITY PARALMOND CYCLE]
KCYCLE

# can be DAMPEDJACOBI or CHEBYSHEV
[VELOCITY PARALMOND SMOOTHER]
CHEBYSHEV

# can be STRONGNODES, DISTRIBUTED, SATURATE
[VELOCITY PARALMOND PARTITION]
STRONGNODES

# compare to a reference solution. Use NONE to skip comparison
# can be BELTRAMI
[EXACT]
GAUSS

[VERBOSE]
FALSE

# set to 0 (zero) to disable reductions
[DEBUG ENABLE REDUCTIONS]
1

# set to 0 (zero) to disable gather-scatter
[DEBUG ENABLE OGS]
1