[FORMAT]
2.0

[DATA FILE]
#data/lssVortex2D.h
data/lssCircle2D.h

[MESH FILE]
BOX
#../../meshes/circle.msh
#../../meshes/circle.msh
#../../meshes/lssCircle.msh
#../../meshes/circle_h01.msh
#../../meshes/lssTest.msh

[MESH DIMENSION]
2

[ELEMENT TYPE] # number of edges
3

[BOX NX]
80

[BOX NY]
80

[BOX DIMX]
4

[BOX DIMY]
4

[BOX BOUNDARY FLAG]
1
#-1

[POLYNOMIAL DEGREE]
4

[THREAD MODEL]
#Serial
CUDA

[PLATFORM NUMBER]
0

[DEVICE NUMBER]
0

[ADVECTION SOLVER]
#TRUE
FALSE

[REDISTANCE SOLVER]
#FALSE
TRUE

[ADVECTION TYPE]
#CUBATURE
COLLOCATION

[TIME INTEGRATOR]
#DOPRI5
LSERK4

[STABILIZATION]
SUBCELL

[SUBCELL NUMBER]
5

[SUBCELL MINOR GRID]
EQUISPACED

[START TIME]
0

[FINAL TIME]
#8
.1
#0.1

[OUTPUT INTERVAL]
0.1

[OUTPUT TO FILE]
TRUE

[OUTPUT FILE NAME]
#vortex
circle
