[FORMAT]
2.0

[DATA FILE]
data/lssVortex2D.h

[MESH FILE]
BOX

[MESH DIMENSION]
2

[ELEMENT TYPE] # number of edges
3

[BOX NX]
40

[BOX NY]
40

[BOX DIMX]
1

[BOX DIMY]
1

[BOX BOUNDARY FLAG]
1

[POLYNOMIAL DEGREE]
5

[THREAD MODEL]
CUDA

[PLATFORM NUMBER]
0

[DEVICE NUMBER]
0

[ADVECTION SOLVER]
TRUE
#FALSE

[REDISTANCE SOLVER]
FALSE
#TRUE

[ADVECTION TYPE]
CUBATURE
#COLLOCATION

[TIME INTEGRATOR]
#DOPRI5
LSERK4

[START TIME]
0

[FINAL TIME]
8

[OUTPUT INTERVAL]
0.1

[OUTPUT TO FILE]
TRUE

[OUTPUT FILE NAME]
vortex
