[FORMAT]
2.0

[DATA FILE]
data/insBeltrami3D.h

[MESH FILE]
BOX

[MESH DIMENSION]
3

[ELEMENT TYPE] # number of edges
12

[BOX NX]
10

[BOX NY]
10

[BOX NZ]
10

[BOX DIMX]
2

[BOX DIMY]
2

[BOX DIMZ]
2

[BOX BOUNDARY FLAG]
2

[POLYNOMIAL DEGREE]
4

[THREAD MODEL]
CUDA

[PLATFORM NUMBER]
0

[DEVICE NUMBER]
0

[VISCOSITY]
0.1

# can be CUBATURE or COLLOCATION
[ADVECTION TYPE]
COLLOCATION

#currently experimental
[PRESSURE INCREMENT]
FALSE

[TIME INTEGRATOR]
SSBDF3

[NUMBER OF SUBCYCLES]
4

[SUBCYCLING TIME INTEGRATOR]
DOPRI5

[START TIME]
0

[FINAL TIME]
1.0

[OUTPUT INTERVAL]
0.1

[OUTPUT TO FILE]
TRUE

[OUTPUT FILE NAME]
ins

#################################################
########## Velocity Solver Options ##############
#################################################

# can be PCG, FPCG, NBPCG, NBFPCG, or PGMRES
[VELOCITY LINEAR SOLVER]
PCG

[VELOCITY LINEAR SOLVER STOPPING CRITERION]
ABS/REL-INITRESID

# can be IPDG, or CONTINUOUS
[VELOCITY DISCRETIZATION]
CONTINUOUS

# can be NONE, JACOBI, MASSMATRIX, PARALMOND, SEMFEM, MULTIGRID, or OAS
[VELOCITY PRECONDITIONER]
JACOBI

[VELOCITY INITIAL GUESS STRATEGY]
NONE

[VELOCITY INITIAL GUESS HISTORY SPACE DIMENSION]
-1

[VELOCITY VERBOSE]
TRUE

########## MULTIGRID Options ##############

# can be ALLDEGREES, HALFDEGREES, HALFDOFS
[VELOCITY MULTIGRID COARSENING]
HALFDOFS

# can be DAMPEDJACOBI or CHEBYSHEV
[VELOCITY MULTIGRID SMOOTHER]
CHEBYSHEV

# can be any integer >0
[VELOCITY MULTIGRID CHEBYSHEV DEGREE]
2

###########################################

########## ParAlmond Options ##############

# can be KCYCLE, or VCYCLE
# can add the EXACT and NONSYM option
[VELOCITY PARALMOND CYCLE]
KCYCLE

# can be DAMPEDJACOBI or CHEBYSHEV
[VELOCITY PARALMOND SMOOTHER]
CHEBYSHEV

# can be any integer >0
[VELOCITY PARALMOND CHEBYSHEV DEGREE]
2

###########################################

#################################################
########## Pressure Solver Options ##############
#################################################

# can be PCG, FPCG, NBPCG, NBFPCG, or PGMRES
[PRESSURE LINEAR SOLVER]
FPCG

[PRESSURE LINEAR SOLVER STOPPING CRITERION]
ABS/REL-INITRESID

# can be IPDG, or CONTINUOUS
[PRESSURE DISCRETIZATION]
CONTINUOUS

# can be NONE, JACOBI, MASSMATRIX, PARALMOND, SEMFEM, or MULTIGRID
[PRESSURE PRECONDITIONER]
MULTIGRID

[PRESSURE INITIAL GUESS STRATEGY]
NONE

[PRESSURE INITIAL GUESS HISTORY SPACE DIMENSION]
8

[PRESSURE INITIAL GUESS EXTRAP DEGREE]
3

[PRESSURE INITIAL GUESS EXTRAP COEFFS METHOD]
CPQR

[PRESSURE VERBOSE]
TRUE

########## MULTIGRID Options ##############

# can be ALLDEGREES, HALFDEGREES, HALFDOFS
[PRESSURE MULTIGRID COARSENING]
HALFDOFS

# can be DAMPEDJACOBI or CHEBYSHEV
[PRESSURE MULTIGRID SMOOTHER]
CHEBYSHEV

# can be any integer >0
[PRESSURE MULTIGRID CHEBYSHEV DEGREE]
2

###########################################

########## ParAlmond Options ##############

# can be KCYCLE, or VCYCLE
# can add the EXACT and NONSYM option
[PRESSURE PARALMOND CYCLE]
KCYCLE

# can be DAMPEDJACOBI or CHEBYSHEV
[PRESSURE PARALMOND SMOOTHER]
CHEBYSHEV

# can be any integer >0
[PRESSURE PARALMOND CHEBYSHEV DEGREE]
2

###########################################

