[FORMAT]
1.0

[DATA FILE]
data/insBrownMinionQuad3D.h

[INITIAL CONDITION]
BROWN-MINION

[SPHERE RADIUS]
1.0

[MESH FILE]
../../meshes/sphereQuadH01.msh
#../../meshes/insVortexQuad2D.msh

[MESH DIMENSION]
3

[ELEMENT TYPE] # number of edges
4

[POLYNOMIAL DEGREE]
6

[THREAD MODEL]
CUDA

[PLATFORM NUMBER]
0

[DEVICE NUMBER]
0

# can be EXTBDF1,2, or 3
# can add SUBCYCLING to EXTBDF
[TIME INTEGRATOR]
#ARK2
EXTBDF2

[SUBCYCLING STEPS]
0

# can be CUBATURE or COLLOCATION
[ADVECTION TYPE]
COLLOCATION
#CUBATURE

[VISCOSITY]
0.0004

[MACH NUMBER]
.2

[UBAR]
1.0

[VBAR]
0.0

[PBAR]
0.0

[TSTEPS FOR SOLUTION OUTPUT]
100

[START TIME]
0

[FINAL TIME]
10

[CFL]
0.1

[OUTPUT TYPE]
PPM

[RESTART FROM FILE]
0

[OUTPUT FILE NAME]
fence

#################################################
########## Velocity Solver Options ##############
#################################################

# can add FLEXIBLE to PCG
[VELOCITY KRYLOV SOLVER]
PCG

# can be IPDG, or CONTINUOUS
[VELOCITY DISCRETIZATION]
IPDG
#CONTINUOUS

# can be NODAL or BERN
[VELOCITY BASIS]
NODAL

# can be NONE, JACOBI, MASSMATRIX, FULLALMOND, SEMFEM, or MULTIGRID
[VELOCITY PRECONDITIONER]
#MULTIGRID
JACOBI

########## MULTIGRID Options ##############

# can be ALLDEGREES, HALFDEGREES, HALFDOFS
[VELOCITY MULTIGRID COARSENING]
HALFDOFS

# can be LOCALPATCH, or DAMPEDJACOBI
# LOCALPATCH smoother can include EXACT
# can include CHEBYSHEV for smoother acceleration
[VELOCITY MULTIGRID SMOOTHER]
DAMPEDJACOBI,CHEBYSHEV

[MULTIGRID CHEBYSHEV DEGREE]
2

###########################################

########## ParAlmond Options ##############

# can be KCYCLE, or VCYCLE
# can add the EXACT and NONSYM option
[VELOCITY PARALMOND CYCLE]
KCYCLE

# can be DAMPEDJACOBI or CHEBYSHEV
[VELOCITY PARALMOND SMOOTHER]
CHEBYSHEV

# can be STRONGNODES, DISTRIBUTED, SATURATE
[VELOCITY PARALMOND PARTITION]
STRONGNODES

###########################################

#################################################
########## Pressure Solver Options ##############
#################################################

# can add FLEXIBLE to PCG
[PRESSURE KRYLOV SOLVER]
PCG,FLEXIBLE

# can be IPDG, or CONTINUOUS
[PRESSURE DISCRETIZATION]
IPDG
#CONTINUOUS

# can be NODAL or BERN
[PRESSURE BASIS]
NODAL

# can be NONE, JACOBI, MASSMATRIX, FULLALMOND, SEMFEM, or MULTIGRID
[PRESSURE PRECONDITIONER]
MULTIGRID
#JACOBI

########## MULTIGRID Options ##############

# can be ALLDEGREES, HALFDEGREES, HALFDOFS
[PRESSURE MULTIGRID COARSENING]
HALFDOFS

# can be LOCALPATCH, or DAMPEDJACOBI
# LOCALPATCH smoother can include EXACT
# can include CHEBYSHEV for smoother acceleration
[PRESSURE MULTIGRID SMOOTHER]
DAMPEDJACOBI,CHEBYSHEV

###########################################

########## ParAlmond Options ##############

# can be KCYCLE, or VCYCLE
# can add the EXACT and NONSYM option
[PRESSURE PARALMOND CYCLE]
KCYCLE

# can be DAMPEDJACOBI or CHEBYSHEV
[PRESSURE PARALMOND SMOOTHER]
CHEBYSHEV

# can be STRONGNODES, DISTRIBUTED, SATURATE
[PRESSURE PARALMOND PARTITION]
STRONGNODES

###########################################

# compare to a reference solution. Use NONE to skip comparison
# can be VORTEX or KOVASZNAY
[EXACT]
NONE

[VERBOSE]
FALSE

[OUTPUT FILE FORMAT]
PPM
