[FORMAT]
1.0

[DATA FILE]
data/insUniform2D.h

[MESH FILE] # need smaller mesh and exact solution ?
../../meshes/insFence2D.msh

[MESH DIMENSION]
2

[ELEMENT TYPE] # number of edges
3

[POLYNOMIAL DEGREE]
1,2,3,4

[THREAD MODEL]
CUDA

[PLATFORM NUMBER]
0

[DEVICE NUMBER]
0

# can be EXTBDF1,2, or 3
# can add SUBCYCLING to EXTBDF
[TIME INTEGRATOR]
ESTBDF2,EXTBDF2+SUBCYCLING

[SUBYCLING STEPS]
1,2,3,4

# can be CUBATURE or COLLOCATION
[ADVECTION TYPE]
COLLOCATION,CUBATURE

[VISCOSITY]
1.e-4

[MACH NUMBER]
.2

[UBAR]
1.0

[VBAR]
0.0

[PBAR]
0.0

[TSTEPS FOR SOLUTION OUTPUT]
100

[START TIME]
0

[FINAL TIME]
.01

[CFL]
0.1

[OUTPUT TYPE]
VTU

[RESTART FROM FILE]
0

[OUTPUT FILE NAME]
fence

#################################################
########## Velocity Solver Options ##############
#################################################

# can add FLEXIBLE to PCG
[VELOCITY KRYLOV SOLVER]
PCG

# can be IPDG, or CONTINUOUS
[VELOCITY DISCRETIZATION]
CONTINUOUS,IPDG

# can be NODAL or BERN
[VELOCITY BASIS]
NODAL,BERN

# can be NONE, JACOBI, MASSMATRIX, FULLALMOND, SEMFEM, or MULTIGRID
[VELOCITY PRECONDITIONER]
MASSMATRIX,SEMFEM

########## MULTIGRID Options ##############

# can be ALLDEGREES, HALFDEGREES, HALFDOFS
[VELOCITY MULTIGRID COARSENING]
ALLDEGREES,HALFDEGREES,HALFDOFS

# can be LOCALPATCH, or DAMPEDJACOBI
# LOCALPATCH smoother can include EXACT
# can include CHEBYSHEV for smoother acceleration
[VELOCITY MULTIGRID SMOOTHER]
DAMPEDJACOBI,CHEBYSHEV

###########################################

########## ParAlmond Options ##############

# can be KCYCLE, or VCYCLE
# can add the EXACT and NONSYM option
[VELOCITY PARALMOND CYCLE]
VCYCLE,KCYCLE

# can be DAMPEDJACOBI or CHEBYSHEV
[VELOCITY PARALMOND SMOOTHER]
DAMPEDJACOBI,CHEBYSHEV

# can be STRONGNODES, DISTRIBUTED, SATURATE
[VELOCITY PARALMOND PARTITION]
DISTRIBUTED,STRONGNODES,SATURATE

# can be DEFAULT or LPSCN
[VELOCITY PARALMOND AGGREGATION STRATEGY]
DEFAULT
#LPSCN

# can be MAX, MIN, or NONE
[VELOCITY PARALMOND LPSCN ORDERING]
MAX
#MIN

###########################################

#################################################
########## Pressure Solver Options ##############
#################################################

# can add FLEXIBLE to PCG
[PRESSURE KRYLOV SOLVER]
PCG+FLEXIBLE

# can be IPDG, or CONTINUOUS
[PRESSURE DISCRETIZATION]
IPDG,CONTINUOUS

# can be NODAL or BERN
[PRESSURE BASIS]
NODAL,BERN

# can be NONE, JACOBI, MASSMATRIX, FULLALMOND, SEMFEM, or MULTIGRID
[PRESSURE PRECONDITIONER]
MULTIGRID,SEMFEM

########## MULTIGRID Options ##############

# can be ALLDEGREES, HALFDEGREES, HALFDOFS
[PRESSURE MULTIGRID COARSENING]
ALLDEGREES,HALFDOFS,HALFDEGREES

# can be LOCALPATCH, or DAMPEDJACOBI
# LOCALPATCH smoother can include EXACT
# can include CHEBYSHEV for smoother acceleration
[PRESSURE MULTIGRID SMOOTHER]
DAMPEDJACOBI+CHEBYSHEV

###########################################

########## ParAlmond Options ##############

# can be KCYCLE, or VCYCLE
# can add the EXACT and NONSYM option
[PRESSURE PARALMOND CYCLE]
VCYCLE,KCYCLE

# can be DAMPEDJACOBI or CHEBYSHEV
[PRESSURE PARALMOND SMOOTHER]
DAMPEDJACOBI,CHEBYSHEV

# can be STRONGNODES, DISTRIBUTED, SATURATE
[PRESSURE PARALMOND PARTITION]
STRONGNODES,DISTRIBUTED,SATURATE

# can be DEFAULT or LPSCN
[PRESSURE PARALMOND AGGREGATION STRATEGY]
DEFAULT
#LPSCN

# can be MAX, MIN, or NONE
[PRESSURE PARALMOND LPSCN ORDERING]
MAX
#MIN

###########################################
