[FORMAT]
1.0

[DATA FILE]
#data/insBeltrami3D.h
data/insChannel3D.h

[MESH FILE]
#../../meshes/insBeltramiHex3D.msh
../../meshes/insChannelHex3D.msh

#Activates Scalar Solver
[SOLVER TYPE]
INS+SCALAR

#Currently one passive scalar only
[NUMBER of SCALAR FIELD]
1

[MESH DIMENSION]
3

[ELEMENT TYPE] # number of edges
12

[POLYNOMIAL DEGREE]
4

[ELEMENT MAP]
ISOPARAMETRIC

[THREAD MODEL]
CUDA

[PLATFORM NUMBER]
0

[DEVICE NUMBER]
0

# can be EXTBDF1,2, or 3
# can add SUBCYCLING to EXTBDF
[TIME INTEGRATOR]
#ARK2
EXTBDF2

[ELLIPTIC INTEGRATION]
NODAL
#CUBATURE
# CUBATURE - WORKING FOR INHOMOGENEOUS DIRICHLET BCS - NOT WORKING FOR NEUMANN YET


[SUBCYCLING STEPS]
4

[SUBCYCLING TIME ORDER]
4

# can be CUBATURE or COLLOCATION
[ADVECTION TYPE]
CUBATURE

[VISCOSITY]
#1.0
0.01

[DENSITY]
1.0

[CONDUCTIVITY]
0.001 

[SPECIFIC HEAT]
1

[MACH NUMBER]
.2

[UBAR]
1.0

[VBAR]
0.0

[WBAR]
0.0

[PBAR]
0.0

[SBAR]
0.0


[TSTEPS FOR SOLUTION OUTPUT]
100

[START TIME]
0

[FINAL TIME]
20.0

[CFL]
0.5

[OUTPUT TYPE]
VTU

[RESTART FROM FILE]
0

[OUTPUT FILE NAME]
insChannelHex3D

#################################################
########## Velocity Solver Options ##############
#################################################

# can add FLEXIBLE to PCG
[VELOCITY KRYLOV SOLVER]
PCG

# can be IPDG, or CONTINUOUS
[VELOCITY DISCRETIZATION]
IPDG

# can be NODAL or BERN
[VELOCITY BASIS]
NODAL

# can be NONE, JACOBI, MASSMATRIX, FULLALMOND, SEMFEM, or MULTIGRID
[VELOCITY PRECONDITIONER]
JACOBI

########## MULTIGRID Options ##############

# can be ALLDEGREES, HALFDEGREES, HALFDOFS
[VELOCITY MULTIGRID COARSENING]
HALFDOFS

# can be LOCALPATCH, or DAMPEDJACOBI
# LOCALPATCH smoother can include EXACT
# can include CHEBYSHEV for smoother acceleration
[VELOCITY MULTIGRID SMOOTHER]
DAMPEDJACOBI,CHEBYSHEV

###########################################

########## ParAlmond Options ##############

# can be KCYCLE, or VCYCLE
# can add the EXACT and NONSYM option
[VELOCITY PARALMOND CYCLE]
KCYCLE

# can be DAMPEDJACOBI or CHEBYSHEV
[VELOCITY PARALMOND SMOOTHER]
CHEBYSHEV

# can be STRONGNODES, DISTRIBUTED, SATURATE
[VELOCITY PARALMOND PARTITION]
STRONGNODES

# can be DEFAULT or LPSCN
[VELOCITY PARALMOND AGGREGATION STRATEGY]
DEFAULT
#LPSCN

# can be MAX, MIN, or NONE
[VELOCITY PARALMOND LPSCN ORDERING]
MAX
#MIN

###########################################

#################################################
########## Pressure Solver Options ##############
#################################################

# can add FLEXIBLE to PCG
[PRESSURE KRYLOV SOLVER]
PCG,FLEXIBLE

# can be IPDG, or CONTINUOUS
[PRESSURE DISCRETIZATION]
#IPDG
CONTINUOUS

# can be NODAL or BERN
[PRESSURE BASIS]
NODAL

# can be NONE, JACOBI, MASSMATRIX, FULLALMOND, SEMFEM, or MULTIGRID
[PRESSURE PRECONDITIONER]
#JACOBI
MULTIGRID

########## MULTIGRID Options ##############

# can be ALLDEGREES, HALFDEGREES, HALFDOFS
[PRESSURE MULTIGRID COARSENING]
HALFDOFS

# can be LOCALPATCH, or DAMPEDJACOBI
# LOCALPATCH smoother can include EXACT
# can include CHEBYSHEV for smoother acceleration
[PRESSURE MULTIGRID SMOOTHER]
DAMPEDJACOBI,CHEBYSHEV

###########################################

########## ParAlmond Options ##############

# can be KCYCLE, or VCYCLE
# can add the EXACT and NONSYM option
[PRESSURE PARALMOND CYCLE]
KCYCLE

# can be DAMPEDJACOBI or CHEBYSHEV
[PRESSURE PARALMOND SMOOTHER]
CHEBYSHEV

# can be STRONGNODES, DISTRIBUTED, SATURATE
[PRESSURE PARALMOND PARTITION]
STRONGNODES

# can be DEFAULT or LPSCN
[PRESSURE PARALMOND AGGREGATION STRATEGY]
DEFAULT
#LPSCN

# can be MAX, MIN, or NONE
[PRESSURE PARALMOND LPSCN ORDERING]
MAX
#MIN

###########################################

#################################################
########## Scalar Solver Options ##############
#################################################

# can add FLEXIBLE to PCG
[SCALAR KRYLOV SOLVER]
PCG

# can be IPDG, or CONTINUOUS
[SCALAR DISCRETIZATION]
IPDG

# can be NODAL or BERN
[SCALAR BASIS]
NODAL

# can be NONE, JACOBI, MASSMATRIX, FULLALMOND, SEMFEM, or MULTIGRID
[SCALAR PRECONDITIONER]
JACOBI

########## MULTIGRID Options ##############

# can be ALLDEGREES, HALFDEGREES, HALFDOFS
[SCALAR MULTIGRID COARSENING]
HALFDOFS

# can be LOCALPATCH, or DAMPEDJACOBI
# LOCALPATCH smoother can include EXACT
# can include CHEBYSHEV for smoother acceleration
[SCALAR MULTIGRID SMOOTHER]
DAMPEDJACOBI,CHEBYSHEV

###########################################

########## ParAlmond Options ##############

# can be KCYCLE, or VCYCLE
# can add the EXACT and NONSYM option
[SCALAR PARALMOND CYCLE]
KCYCLE

# can be DAMPEDJACOBI or CHEBYSHEV
[SCALAR PARALMOND SMOOTHER]
CHEBYSHEV

# can be STRONGNODES, DISTRIBUTED, SATURATE
[SCALAR PARALMOND PARTITION]
STRONGNODES

# can be DEFAULT or LPSCN
[SCALAR PARALMOND AGGREGATION STRATEGY]
DEFAULT
#LPSCN

# can be MAX, MIN, or NONE
[SCALAR PARALMOND LPSCN ORDERING]
MAX
###########################################

# compare to a reference solution. Use NONE to skip comparison
# can be BELTRAMI
[EXACT]
#BELTRAMI
NONE

[VERBOSE]
FALSE

# set to 0 (zero) to disable reductions
[DEBUG ENABLE REDUCTIONS]
1

# set to 0 (zero) to disable gather-scatter
[DEBUG ENABLE OGS]
1
