[FORMAT]
2.0

[DATA FILE]
data/insVortex2D.h

[MESH FILE]
#../../meshes/insVortexQuad2D.msh
BOX

[MESH DIMENSION]
2

[ELEMENT TYPE] # number of edges
4

[BOX NX]
20

[BOX NY]
20

[BOX NZ]
20

[BOX DIMX]
1

[BOX DIMY]
1

[BOX DIMZ]
1

[BOX BOUNDARY FLAG]
2

[POLYNOMIAL DEGREE]
4

[THREAD MODEL]
CUDA

[PLATFORM NUMBER]
0

[DEVICE NUMBER]
0

[VISCOSITY]
0.05

# can be CUBATURE or COLLOCATION
[ADVECTION TYPE]
COLLOCATION

#currently experimental
[PRESSURE INCREMENT]
FALSE

[TIME INTEGRATOR]
SSBDF3

[NUMBER OF SUBCYCLES]
4

[SUBCYCLING TIME INTEGRATOR]
DOPRI5

[START TIME]
0

[FINAL TIME]
1.0

[OUTPUT INTERVAL]
0.1

[OUTPUT TO FILE]
TRUE

[OUTPUT FILE NAME]
ins

#################################################
########## Velocity Solver Options ##############
#################################################

# can be PCG, FPCG, NBPCG, NBFPCG, or PGMRES
[VELOCITY LINEAR SOLVER]
PCG

# can be IPDG, or CONTINUOUS
[VELOCITY DISCRETIZATION]
CONTINUOUS

[VELOCITY LINEAR SOLVER STOPPING CRITERION]
ABS/REL-INITRESID

# can be NONE, JACOBI, MASSMATRIX, PARALMOND, SEMFEM, MULTIGRID, or OAS
[VELOCITY PRECONDITIONER]
JACOBI

# can be LAST, ZERO, CLASSIC, QR, or EXTRAP
[VELOCITY INITIAL GUESS STRATEGY]
EXTRAP

[VELOCITY INITIAL GUESS HISTORY SPACE DIMENSION]
9

[VELOCITY INITIAL GUESS EXTRAP DEGREE]
3

[VELOCITY INITIAL GUESS EXTRAP COEFFS METHOD]
MINNORM

[VELOCITY VERBOSE]
TRUE

########## MULTIGRID Options ##############

# can be ALLDEGREES, HALFDEGREES, HALFDOFS
[VELOCITY MULTIGRID COARSENING]
HALFDOFS

# can be DAMPEDJACOBI or CHEBYSHEV
[VELOCITY MULTIGRID SMOOTHER]
CHEBYSHEV

# can be any integer >0
[VELOCITY MULTIGRID CHEBYSHEV DEGREE]
2

###########################################

########## ParAlmond Options ##############

# can be KCYCLE, or VCYCLE
# can add the EXACT and NONSYM option
[VELOCITY PARALMOND CYCLE]
KCYCLE

# can be DAMPEDJACOBI or CHEBYSHEV
[VELOCITY PARALMOND SMOOTHER]
CHEBYSHEV

# can be any integer >0
[VELOCITY PARALMOND CHEBYSHEV DEGREE]
2

###########################################

#################################################
########## Pressure Solver Options ##############
#################################################

# can be PCG, FPCG, NBPCG, NBFPCG, or PGMRES
[PRESSURE LINEAR SOLVER]
FPCG

[PRESSURE LINEAR SOLVER STOPPING CRITERION]
ABS/REL-INITRESID

# can be IPDG, or CONTINUOUS
[PRESSURE DISCRETIZATION]
CONTINUOUS

# can be NONE, JACOBI, MASSMATRIX, PARALMOND, SEMFEM, or MULTIGRID
[PRESSURE PRECONDITIONER]
MULTIGRID

# can be LAST, ZERO, CLASSIC, QR, or EXTRAP
[PRESSURE INITIAL GUESS STRATEGY]
QR

[PRESSURE INITIAL GUESS HISTORY SPACE DIMENSION]
9

[PRESSURE INITIAL GUESS EXTRAP DEGREE]
3

[PRESSURE INITIAL GUESS EXTRAP COEFFS METHOD]
MINNORM

[PRESSURE VERBOSE]
TRUE

########## MULTIGRID Options ##############

# can be ALLDEGREES, HALFDEGREES, HALFDOFS
[PRESSURE MULTIGRID COARSENING]
HALFDOFS

# can be DAMPEDJACOBI or CHEBYSHEV
[PRESSURE MULTIGRID SMOOTHER]
CHEBYSHEV

# can be any integer >0
[PRESSURE MULTIGRID CHEBYSHEV DEGREE]
2

###########################################

########## ParAlmond Options ##############

# can be KCYCLE, or VCYCLE
# can add the EXACT and NONSYM option
[PRESSURE PARALMOND CYCLE]
KCYCLE

# can be DAMPEDJACOBI or CHEBYSHEV
[PRESSURE PARALMOND SMOOTHER]
CHEBYSHEV

# can be any integer >0
[PRESSURE PARALMOND CHEBYSHEV DEGREE]
2

###########################################

