[FORMAT]
2.0

[DATA FILE]
./data/waveSpaceTimeModes3D.h

[SOLVER MODE]
TIMEDOMAIN

[MESH FILE]
BOX

[MESH DIMENSION]
3

[ELEMENT TYPE]
12

[BOX NX]
20

[BOX NY]
20

[BOX NZ]
20
  
[BOX DIMX]
2.0

[BOX DIMY]
2.0

[BOX DIMZ]
2.0

[BOX BOUNDARY FLAG]
1

[POLYNOMIAL DEGREE]
7

[THREAD MODEL]
CUDA

[PLATFORM NUMBER]
0

[DEVICE NUMBER]
0

[TIME INTEGRATOR]
ESDIRK6(5)9L{2}SA

[TIME STEP]
0.0125

[START TIME]
0.0

[FINAL TIME]
4.1

[ELLIPTIC DISCRETIZATION]
IPDG

[ELLIPTIC LINEAR SOLVER]
PCG

[ELLIPTIC PRECONDITIONER]
MULTIGRID

[ELLIPTIC STOPPING CRITERIA]
#ERRORESTIMATE
DEFAULT

[ELLIPTIC ITERATIVE CONVERGENCE TOLERANCE]
1e-11

[ELLIPTIC MULTIGRID COARSENING]
HALFDOFS

[ELLIPTIC MULTIGRID SMOOTHER]
CHEBYSHEV

[ELLIPTIC MULTIGRID CHEBYSHEV DEGREE]
2

[ELLIPTIC PARALMOND STRENGTH]
RUGESTUBEN

[ELLIPTIC INITIAL GUESS STRATEGY]
#QR
LAST

[ELLIPTIC INITIAL GUESS HISTORY SPACE DIMENSION]
16

[ELLIPTIC PARALMOND CYCLE]
VCYCLE

[ELLIPTIC PARALMOND AGGREGATION]
UNSMOOTHED

[ELLIPTIC PARALMOND SMOOTHER]
CHEBYSHEV

[ELLIPTIC PARALMOND CHEBYSHEV DEGREE]
2

[OUTPUT TO FILE]
FALSE

[OUTPUT ERROR INTERVAL]
1

