[FORMAT]
2.0

[DATA FILE]
./data/waveSpaceTime2D.h

[SOLVER MODE]
TIMEDOMAIN

[MESH FILE]
BOX

[MESH DIMENSION]
2

[ELEMENT TYPE]
3

[BOX NX]
8

[BOX NY]
8

[BOX NZ]
8

[BOX DIMX]
2.0

[BOX DIMY]
2.0

[BOX DIMZ]
2.0

[BOX BOUNDARY FLAG]
1

[POLYNOMIAL DEGREE]
1

[THREAD MODEL]
CUDA

[PLATFORM NUMBER]
0

[DEVICE NUMBER]
0

[TIME INTEGRATOR]
ESDIRK6(5)9L{2}SA

[TIME STEP]
0.4

[START TIME]
0.0

[FINAL TIME]
1.1

[ELLIPTIC DISCRETIZATION]
IPDG

[ELLIPTIC LINEAR SOLVER]
PCG

[ELLIPTIC PRECONDITIONER]
MULTIGRID

[ELLIPTIC STOPPING CRITERIA]
ERRORESTIMATE

[ELLIPTIC ITERATIVE CONVERGENCE TOLERANCE]
1e-11

[ELLIPTIC MULTIGRID COARSENING]
HALFDOFS

[ELLIPTIC MULTIGRID SMOOTHER]
CHEBYSHEV

[ELLIPTIC MULTIGRID CHEBYSHEV DEGREE]
2

[ELLIPTIC PARALMOND STRENGTH]
RUGESTUBEN

[ELLIPTIC INITIAL GUESS STRATEGY]
QR

[ELLIPTIC INITIAL GUESS HISTORY SPACE DIMENSION]
16

[ELLIPTIC PARALMOND CYCLE]
VCYCLE

[ELLIPTIC PARALMOND AGGREGATION]
SMOOTHED

[ELLIPTIC PARALMOND SMOOTHER]
CHEBYSHEV

[ELLIPTIC PARALMOND CHEBYSHEV DEGREE]
2

[OUTPUT TO FILE]
FALSE

[OUTPUT ERROR INTERVAL]
1

