[FORMAT]
2.0

[DATA FILE]
/home/tcew/Work/git/libparanumal.mappedBoxGlobal/solvers/elliptic/data/ellipticSine3D.h

[MESH FILE]
BOX

[MESH DIMENSION]
3

[ELEMENT TYPE]
12

[BOX NX]
30

[BOX NY]
30

[BOX NZ]
30

[BOX DIMX]
1

[BOX DIMY]
1

[BOX DIMZ]
1

[BOX BOUNDARY FLAG]
1

[BOX COORDINATE MAP FILE]
/home/tcew/Work/git/libparanumal.mappedBoxGlobal/solvers/elliptic/data/kershaw.okl

[BOX COORDINATE MAP PARAMETER Y]
0.1

[BOX COORDINATE MAP PARAMETER Z]
0.1

[BOX COORDINATE MAP MODEL]
1

[POLYNOMIAL DEGREE]
3

[THREAD MODEL]
CUDA

[PLATFORM NUMBER]
0

[DEVICE NUMBER]
0

[DISCRETIZATION]
CONTINUOUS

[ELLIPTIC INTEGRATION]
CUBATURE

[LINEAR SOLVER]
PCG

[LAMBDA]
0.0

[PRECONDITIONER]
SEMFEM

[MULTIGRID SMOOTHER]
CHEBYSHEV

[MULTIGRID COARSENING]
HALFDEGREES

[MULTIGRID CHEBYSHEV DEGREE]
1

[PARALMOND DEVICE MATRIX TYPE]
float

[PARALMOND CYCLE]
VCYCLE

[PARALMOND STRENGTH]
RUGESTUBEN

[PARALMOND AGGREGATION]
SMOOTHED

[PARALMOND SMOOTHER]
CHEBYSHEV

[PARALMOND CHEBYSHEV DEGREE]
2

[OUTPUT TO FILE]
FALSE

[VERBOSE]
TRUE

