[FORMAT]
2.0

[DATA FILE]
data/ellipticSine2D.h

[MESH FILE]
BOX

[MESH DIMENSION]
2

[ELEMENT TYPE] # number of edges
4

[BOX NX]
80

[BOX NY]
80

[BOX NZ]
1

[BOX DIMX]
1

[BOX DIMY]
1

[BOX DIMZ]
1

[BOX BOUNDARY FLAG]
1

[POLYNOMIAL DEGREE]
4

[THREAD MODEL]
CUDA

[PLATFORM NUMBER]
0

[DEVICE NUMBER]
0

[LAMBDA]
1

# can be IPDG, or CONTINUOUS
[DISCRETIZATION]
CONTINUOUS

# can be PCG, FPCG, NBPCG, NBFPCG, or PGMRES
[LINEAR SOLVER]
PPCG

# can be NONE, JACOBI, MASSMATRIX, PARALMOND, SEMFEM, MULTIGRID, or OAS
[PRECONDITIONER]
JACOBI


###########################################

[OUTPUT TO FILE]
FALSE

[OUTPUT FILE NAME]
elliptic

[VERBOSE]
TRUE
