name: Build

on:
  workflow_dispatch:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
      with:
        submodules: true
    - name: Install Dependencies
      run: |
          sudo apt install -y libopenmpi-dev openmpi-bin libopenblas-serial-dev
    - name: Build
      run: make -j `nproc` verbose=true
      env:
        LIBP_COVERAGE: 1
    - name: Test
      run: |
        make test
        bash <(curl --no-buffer -s https://codecov.io/bash) -x gcov
      env:
        LIBP_COVERAGE: 1
