[FORMAT]
2.0

[DATA FILE]
#data/maxwellMode2D.h
data/maxwellGaussian3D.h

[MESH FILE]
BOX

[MESH DIMENSION]
3

[ELEMENT TYPE] # number of edges
6

# HETEROGENEOUS or ISOTROPIC
[MATERIAL TYPE]
#HETEROGENEOUS
ISOTROPIC

[PML TYPE]
CFS

[PML SIGMA PROFILE ORDER]
2

[PML SIGMAX MAX]
1000

[PML SIGMAY MAX]
1000

[PML SIGMAZ MAX]
1000


[PML KAPPA PROFILE ORDER]
1

[PML KAPPAX MAX]
0

[PML KAPPAY MAX]
0

[PML KAPPAZ MAX]
0

[PML ALPHA PROFILE ORDER]
1

[PML ALPHAX MAX]
2

[PML ALPHAY MAX]
2

[PML ALPHAZ MAX]
2


[PML INTEGRATION]
#COLLOCATION
CUBATURE

[POLYNOMIAL DEGREE]
3

[THREAD MODEL]
CUDA

[PLATFORM NUMBER]
0

[DEVICE NUMBER]
0

[TIME INTEGRATOR]
#LSERK4
DOPRI5

[START TIME]
0

[FINAL TIME]
50

[OUTPUT INTERVAL]
.1

[OUTPUT TO FILE]
TRUE

[OUTPUT FILE NAME]
maxwell

[COMPUTE ERROR]
TRUE