[FORMAT]
2.0

[DATA FILE]
#data/maxwellMode2D.h
data/maxwellGaussian2D.h

[MESH FILE]
../../meshes/cavityPml.msh
#BOX

[MESH DIMENSION]
2

[ELEMENT TYPE] # number of edges
3

# HETEROGENEOUS or ISOTROPIC
[MATERIAL TYPE]
#HETEROGENEOUS
ISOTROPIC

[PML TYPE]
CFS

[PML SIGMA PROFILE ORDER]
1

[PML SIGMAX MAX]
1000

[PML SIGMAY MAX]
1000

[PML KAPPA PROFILE ORDER]
1

[PML KAPPAX MAX]
-.4

[PML KAPPAY MAX]
-.4

[PML ALPHA PROFILE ORDER]
1

[PML ALPHAX MAX]
2

[PML ALPHAY MAX]
2


[PML INTEGRATION]
#COLLOCATION
CUBATURE

[POLYNOMIAL DEGREE]
6

[THREAD MODEL]
CUDA

[PLATFORM NUMBER]
0

[DEVICE NUMBER]
0

[TIME INTEGRATOR]
#LSERK4
DOPRI5

[START TIME]
0

[FINAL TIME]
50

[OUTPUT INTERVAL]
.1

[OUTPUT TO FILE]
TRUE

[OUTPUT FILE NAME]
maxwell

[COMPUTE ERROR]
TRUE