[FORMAT]
2.0

[DATA FILE]
#data/maxwellGaussian3D.h
data/maxwellMode3D.h

[MESH FILE]
BOX

[MESH DIMENSION]
3

[ELEMENT TYPE] # number of edges
6

[BOX NX]
20

[BOX NY]
20

[BOX NZ]
20

[BOX DIMX]
2

[BOX DIMY]
2

[BOX DIMZ]
2


[BOX BOUNDARY FLAG]
1

[MATERIAL TYPE]
HETEROGENEOUS

[POLYNOMIAL DEGREE]
6

[THREAD MODEL]
CUDA

[PLATFORM NUMBER]
0

[DEVICE NUMBER]
0

[TIME INTEGRATOR]
DOPRI5

[START TIME]
0

[FINAL TIME]
10

[OUTPUT INTERVAL]
.1

[OUTPUT TO FILE]
FALSE

[OUTPUT FILE NAME]
maxwell

[COMPUTE ERROR]
TRUE